<h1>New food item</h1>
<h3>Add the food you've got at home</h3>

<%= form_for :food_item, url: food_items_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= @food_item.errors.full_messages_for(:name) %>
  </p>

   <p>
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
    <%= @food_item.errors.full_messages_for(:amount) %>
  </p>

   <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    <%= @food_item.errors.full_messages_for(:description) %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', food_items_path %>
