<p>
	<strong>Name:</strong>
	<%= @food_item.name %>
</p>

<p>
	<strong>Amount:</strong>
	<%= @food_item.amount %>
</p>

<p>
	<strong>Description:</strong>
	<%= @food_item.description %>
</p>

<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
